* {
  margin: 0;
  padding: 0; }

body {
  background-color: #1465bb; }

.gridBody {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

header {
  grid-area: header; }

.gridHeader {
  display: grid;
  grid-template-areas: "logo titulo navHeader"; }

/*Pagina Inicio*/
.titulo {
  grid-area: titulo;
  font-family: arial;
  padding: 10px;
  animation-name: titulo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 3s; }

@keyframes titulo {
  0% {
    color: black; }
  25% {
    color: darkred; }
  50% {
    color: red; }
  75% {
    color: darkred; } }

.navHeader {
  grid-area: navHeader;
  display: flex; }

.gradienteHeaderFooter, .gridHeader, .gridFooter {
  background-image: linear-gradient(to top, #1465bb, #5cb8f5, #a9d7f5, #a9d7f5, #5cb8f5, #1465bb); }

.alinearCajaTextImagVid, .titulo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; }

.alienarCajaListaPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.gradienteHeaderFooter, .gridHeader, .gridFooter {
  background-image: linear-gradient(to top, #1465bb, #5cb8f5, #a9d7f5, #a9d7f5, #5cb8f5, #1465bb); }

.alinearCajaTextImagVid, .titulo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; }

.alienarCajaListaPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

footer {
  grid-area: footer; }

.gridFooter {
  display: grid;
  grid-template-areas: "navFooter none redes"; }

.navFooter {
  grid-area: navFooter;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px;
  flex-direction: column;
  justify-content: left;
  align-content: space-between; }
  .navFooter li a {
    padding: 5px;
    display: flex;
    text-decoration: none;
    color: black;
    font-family: arial; }

.redes {
  grid-area: redes;
  margin: auto; }

.imgFace {
  margin: 20px;
  width: 50px;
  height: 50px; }

.imgInsta {
  margin: 20px;
  width: 50px;
  height: 50px; }

.imgWhats {
  margin: 20px;
  width: 50px;
  height: 50px; }

.gradienteHeaderFooter, .gridHeader, .gridFooter {
  background-image: linear-gradient(to top, #1465bb, #5cb8f5, #a9d7f5, #a9d7f5, #5cb8f5, #1465bb); }

.alinearCajaTextImagVid, .titulo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; }

.alienarCajaListaPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
