$azul: #1465bb;
$celeste: #5cb8f5;
$celesteClaro: #a9d7f5;
$margen: 20px;
$margenFooter: 20px;
$anchoFooter: 50px;
$altoFooter: 50px;
$fontVerdana: verdana;
$fontArial: arial;
$fontColor: black;
$alinear-al-centro: center;
$h1Desktop: 25px;
$h1Mobile: 18px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
