$azul: #1465bb;
$celeste: #5cb8f5;
$celesteClaro: #d5f1fc;
$negro: black;
$rojo: red;
$rojoOscuro: darkred;
$margen: 20px;
$margenFooter: 10px;
$anchoFooter: 50px;
$altoFooter: 50px;
$fontVerdana: verdana;
$fontArial: arial;
$fontColor: black;
$alinear-al-centro: center;
$h1Desktop: 25px;
$h1Mobile: 18px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
