$fondo-azul: #1465bb;
$margen-footer: 20px;
$ancho-footer: 50px;
$alto-footer: 50px;
$tipo-de-letra: verdana;
$alinear-al-centro: center;
$h1Desktop: 25px;
$h1Mobile: 18px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
