/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: #1465bb;
}

.gridBody {
    display: grid;
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.gridHeader {
    display: grid;
    grid-template-areas: "logo titulo navHeader";
    background-image: linear-gradient(to top, #1465bb, rgb(92, 184, 245), rgb(169, 215, 245), rgb(169, 215, 245), rgb(92, 184, 245), #1465bb);
}

.gridMain {
    display: grid;
    grid-template-areas: "imag texto video";
    background-image: linear-gradient(to top, #1465bb, rgb(92, 184, 245), rgb(169, 215, 245), rgb(169, 215, 245), rgb(92, 184, 245), #1465bb);
}

.gridFooter {
    display: grid;
    grid-template-areas: "navFooter none redes";
    background-image: linear-gradient(to top, #1465bb, rgb(92, 184, 245), rgb(169, 215, 245), rgb(169, 215, 245), rgb(92, 184, 245), #1465bb);
}

.gridMainProductos {
    display: grid;
    grid-template-areas: "proda prodb prodc";
    background-image: linear-gradient(to top, #1465bb, rgb(92, 184, 245), rgb(169, 215, 245), rgb(169, 215, 245), rgb(92, 184, 245), #1465bb);
}

.gridMainEmpresa {
    display: flex;
    background-color: #1465bb;
}

/*Pagina Inicio*/
.titulo {
    grid-area: titulo;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    animation-name: titulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

@keyframes titulo {
    0% {
        color: black;
    }

    25% {
        color: darkred;
    }

    50% {
        color: red;
    }

    75% {
        color: darkred;
    }
}

.navHeader a:hover {
    color: black;
}

.navHeader {
    grid-area: navHeader;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.navHeader ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navHeader ul li {
    align-items: row;
    padding: 5px;
    margin: 10px;
}

.navHeader ul li a {
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.caja-imagen {
    grid-area: imag;
    display: flex;
    margin: 50px 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.caja-lista-principal {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caja-lista-principal ul {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.caja-lista-principal ul li {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
    text-align: center;
    margin-bottom: 5px;
}

.caja-video {
    grid-area: video;
    display: flex;
    margin: 50px 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*Pagina Contacto*/
.caja-formulario {
    margin: 20px 20px 20px 20px;
    background-color: #bae0fc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.caja-nombre {
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
}

.caja-correo {
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
}

.caja-telefono {
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.caja-consulta {
    margin-left: 10px;
}

.caja-terminos-condiciones {
    margin-top: 20px;
    margin-left: 10px;
}

.caja-enviar-limpiar-formulario {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

/*Pagina Empresa*/
.caja-marco {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    padding: 20px;
    background-image: linear-gradient(to top, #1465bb, rgb(92, 184, 245), rgb(169, 215, 245), rgb(169, 215, 245), rgb(92, 184, 245), #1465bb);
}

.caja-texto {
    margin: 20px;
    padding: 5px;
    font-size: larger;
}

/*Pagina Como Comprar*/
.caja-texto-a {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: large;
    color: black;
    padding: 5px;
}

.caja-texto-b {
    margin-top: 10px;
    background-color: rgb(248, 230, 196);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: large;
    color: black;
    padding: 5px;
}

/*Pagina Productos*/
.proda {
    grid-area: proda;
    display: flex;
    margin: 30px 50px;
    flex-direction: column;
    align-items: center;
}

.texto-proda {
    grid-area: proda;
    display: flex;
    margin: 20px;
}

.cajaPrecio {
    width: 150px;
    height: 35px;
    text-align: center;
    text-justify: center;
    align-items: center;
    background-color: rgb(210, 237, 245);
    border-style: solid;
    border-radius: 8px;
    animation-name: precio;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

@keyframes precio {
    0% {
        color: darkred;
    }

    25% {
        color: rgb(211, 51, 12);
        transform: rotate(-25deg);
    }

    50% {
        color: red;
        transform: rotate(25deg);
    }

    75% {
        color: darkred;
    }
}

.precio {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.texto-proda ul li {
    list-style: none;
    text-align: center;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.prodb {
    grid-area: prodb;
    display: flex;
    margin: 30px 50px;
    flex-direction: column;
    align-items: center;
}

.texto-prodb {
    grid-area: prodb;
    display: flex;
    margin: 20px;
}

.texto-prodb ul li {
    list-style: none;
    text-align: center;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.prodc {
    grid-area: prodc;
    display: flex;
    margin: 30px 50px;
    flex-direction: column;
    align-items: center;
}

.texto-prodc {
    grid-area: prodc;
    display: flex;
    margin: 20px;
}

.texto-prodc ul li {
    list-style: none;
    text-align: center;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;

}

/*Footer*/
.navFooter {
    grid-area: navFooter;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px;
    flex-direction: column;
    justify-content: left;
    align-content: space-between;
}

.navFooter li a {
    padding: 5px;
    display: flex;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.redes {
    grid-area: redes;
    margin: auto;
}

.imgFace {
    margin: 20px;
    width: 50px;
    height: 50px;
}

.imgInsta {
    margin: 20px;
    width: 50px;
    height: 50px;
}

.imgWhats {
    margin: 20px;
    width: 50px;
    height: 50px;
}

/*Media querie*/
@media screen and (max-width:768px) {
    .gridBody {
        display: grid;
        grid-template-areas: "header header"
            "main main"
            "main main"
            "footer footer";
    }

    .gridHeader {
        display: grid;
        grid-template-areas: "titulo navHeader";
    }

    .gridMain {
        display: grid;
        grid-template-areas: "imag texto"
            "video none";
    }

    .gridFooter {
        display: grid;
        grid-template-areas: "navFooter redes";
    }

    .gridMainProductos {
        display: grid;
        grid-template-areas: "proda prodb"
            "prodc none";
    }
}

@media screen and (max-width:480px) {
    .gridBody {
        display: grid;
        grid-template-areas: "header"
            "header"
            "main"
            "main"
            "main"
            "footer"
            "footer";
    }

    .gridHeader {
        display: grid;
        grid-template-areas: "titulo"
            "navHeader";
    }

    .gridMain {
        display: grid;
        grid-template-areas: "imag"
            "texto"
            "video";
    }

    .gridFooter {
        display: grid;
        grid-template-areas: "navFooter"
            "redes";
    }

    .gridMainProductos {
        display: grid;
        grid-template-areas: "proda"
            "prodb"
            "prodc";
    }
}