@import "../variables/variables";

body {
    background-color: $azul;
}

.gridBody {
    display: grid;
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer";
}

header {
    grid-area: header;
}

.gridHeader {
    display: grid;
    grid-template-areas: "logo titulo navHeader";
    background-image: linear-gradient(to top, $azul, $celeste, $celesteClaro, $celesteClaro, $celeste, $azul);
}

/*Pagina Inicio*/
.titulo {
    grid-area: titulo;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fontArial;
    text-align: center;
    padding: 10px;
    animation-name: titulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

@keyframes titulo {
    0% {
        color: $negro;
    }

    25% {
        color: $rojoOscuro;
    }

    50% {
        color: $rojo;
    }

    75% {
        color: $rojoOscuro
    }
}

.navHeader {
    grid-area: navHeader;
    display: flex;
}